
.navigation {
  box-sizing: border-box;
  background-color: black;
  color: black;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.ul {
color: black}








